[Desktop Entry]
Version=1.0
Type=Application
Name=One Click Installer
GenericName=Beautiful One Click Installer
Comment=A Tool to Install Software with a single click
Exec=oneclickinstaller
Categories=System;Settings;Utilities;
Icon=oneclickinstall
MimeType=text/x-suse-ymp;
